<header class="shadow-md shadow-gray-300/50">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-[63px] flex justify-between items-center">
    
    <div class="flex items-center h-full">
      <a routerLink="/" class="logo mr-8 flex items-center">
        <span class="logo-title text-xl font-bold">Audio</span><span class="logo-subtitle text-xl font-bold">Tools</span>
      </a>

      <div class="nav-links h-full hidden sm:flex space-x-[38px] items-center">
        @for (item of navItems; track item.path) {
          <a [routerLink]="item.path" 
             routerLinkActive="text-indigo-600 border-b-2 border-indigo-600 font-semibold" 
             class="nav-link text-gray-700 hover:text-indigo-600 h-full flex items-center transition duration-200 text-sm"
          >
            {{ item.label }}
          </a>
        }
      </div>
    </div>
  </nav>
</header>
