<footer class="shadow-inner shadow-gray-300/50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center flex-wrap gap-4">
        
        <div class="flex-shrink-0">
            <p class="text-xs text-gray-400">
                {{ locationInfo }}
            </p>
        </div>

        <div class="flex space-x-3 flex-shrink-0">
            @for (link of socialLinks; track link.name) {
                <a [href]="link.url" 
                   target="_blank" 
                   [attr.aria-label]="'Visitar perfil no ' + link.name" 
                   class="flex items-center justify-center w-8 h-8 rounded-full bg-gray-800 hover:bg-indigo-600 transition duration-300"
                >
                    <img [src]="link.iconPath" [alt]="link.name + ' Icon'" class="w-4 h-4 filter brightness-0 invert">
                </a>
            }
        </div>
    </div>
</footer>