@use './styles/variables' as var; 
@use "tailwindcss";

html {
    height: 100%; 
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    font-family: var.$font-family-sans;
    color: var.$color-text-dark;
    
    background: radial-gradient(circle at 10% 10%, rgba(var.$color-primary, 0.25) 0%, rgba(var.$color-bg-light, 0) 78%),
        radial-gradient(circle at 90% 10%, rgba(var.$color-secondary, 0.25) 0%, rgba(var.$color-bg-light, 0) 65%),
        var.$color-bg-light;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

// Estilo para o container principal (onde o router-outlet está)
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var.$space-xl var.$space-md; 
    flex-grow: 1;
}